<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gestion Banque</title>
<link rel="stylesheet" type="text/css"
	href="bootstrap-3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/myStyle.css" />
</head>
<body ng-app="myBanqueApp" ng-controller="myBanqueController">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="panel panel-info spacer">
			<div class="panel-heading">Compte</div>
			<div class="panel-body">
				<form>
					<div class="form-group">
						<label>Code Compte</label> <input type="text"
							ng-model="codeCompte">
						<button ng-click="getCompte()">Charger</button>
					</div>
				</form>
				<div class="panel panel-info spacer">
				<div class="panel-heading">Operations:</div>
				<div class="panel-body">
					<div class="form-group">
						<label>Versement</label> <input type="radio"
							ng-model="operation.type" value="versement" /> <label>Retrait</label>
						<input type="radio" ng-model="operation.type" value="retrait" />
					</div>
					<div class="form-group">
					<label>Montant:</label>
					<input type="text" ng-model="operation.montant"/>
					</div>
					<button ng-click="verser()" class ="btn btn-primary">Save</button>
				</div>
			</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
			
		</div>
			</div>
		</div>
		
	</div>
	
		

	</div>
	<script type="text/javascript" src="angular/angular.min.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>
</body>
</html>