<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>First thymeleaf page</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Ajouter un employé 
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       
      </div>
      <div class="modal-body">
       <form th:action="@{/empInsert}" th:object="${emp}" method="post">
  <div class="row">
    <div class="col">
      <input type="text"  name="nomEmploye" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" name="montant" class="form-control" placeholder="montant">
    </div>
    <button type="submit" class="btn btn-danger">savedata</button>
  </div>
</form>
      </div>
      
    </div>
  </div>
</div>

<table >
  <thead>
  <tr ><td class="btn btn-danger">Nom employé</td></tr>
    <tr th:each="e: ${e}">
    <td th:text="${e.nomEmploye}" />
    
   
  <td><a th:href="@{/delete/{id}(id=${e.codeEmploye})}" class="btn btn-danger">delete</a></td>

       
         
</tr>
  </thead>
  
</table>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</html>